{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<meta charset="utf-8">
<title>Table template</title>
<link rel="stylesheet" type="text/css" href="{% static 'minimal-table.css' %}">
<body>
<h1></h1>
<table>
    <caption>Contact Us</caption>
    <tr>
        <th scope="col"> ID</th>
        <th scope="col"> Email from</th>
        <th scope="col"> Email to</th>
        <th scope="col"> subject</th>
        <th scope="col"> message</th>
        <th scope="col"> create</th>
    </tr>
    {% for contact in contact_us_list %}
        <tr>
            <td>{{ contact.id }}</td>
            <td>{{ contact.email_from }}</td>
            <td>{{ contact.email_to }}</td>
            <td>{{ contact.subject }}</td>
            <td>{{ contact.message }}</td>
            <td>{{ contact.create }}</td>
        </tr>
    {% endfor %}
</table>


</body>
</html>