{% extends 'base_html.html' %}

{% block main_content %}
    <div>Currency Exchange Project</div>
    <div>Rate count : {{ rate_count }}</div>
    <div>Source count : {{ source_count }}</div>

<div>
    View List Rate: <a href="{% url 'currency:rate_list' %}"> Click Here</a>
{#    <p>View Table Rate: <a href="/rate/table/"> Click Here</a></p>#}
    <p>View Source List: <a href="{% url 'currency:source_list' %}"> Click Here</a></p>
    <p>View ContactUs List: <a href="{% url 'currency:contactus_list' %}"> Click Here</a></p>
</div>
{% endblock main_content %}