{% extends 'base_html.html' %}

{% block main_content %}
    <div><a href="{% url 'currency:rate_create' %}"> Create new rate </a></div>
    {% for rate in rate_list %}

        <div>ID: {{ rate.id }}, Sale: {{ rate.sale }}, Buy: {{ rate.buy }}
        <a href="{% url 'currency:rate_details' rate.id %}"> View details </a>
        <a href="{% url 'currency:rate_update' rate.id %}"> Edit </a>
        <a href="{% url 'currency:rate_delete' rate.id %}"> Delete </a>
        </div>
    {% endfor %}
{% endblock main_content %}